.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e6f3ff;
    /* padding-left: 580px; */
}

.forgot-password-box {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    width: 400px;
}

.forgot-password-box h2 {
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
    text-align: start;
    font-size: 30px;
}

.description {
    color: #666;
    margin-bottom: 20px;
    font-size: 13px;
}

.input-group {
    margin-bottom: 5px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.request-link-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 6px;
}

.request-link-btn:hover {
    background-color: #0056b3;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.footer-links a {
    color: #3F1A6A;
    text-decoration: underline;
}

.footer-links a:hover {
    text-decoration: underline;
}
