.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6f3ff;
  font-family: Arial, sans-serif;
}

.login-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 400px;
  width: 410px;
}

.login-form h2 {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 18px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 13px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  height: 40px;
  font-size: 12px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-size: 13px;
  margin-bottom: 10px;
  width: 100%;
}

.forget-pass {
  display: flex;
  flex: 2;
  justify-content:flex-end;
  gap: 1rem;
  font-size: 13px;
  color: #3F1A6A;
  text-decoration: underline;
}
.login-btn {
  width: 100%;
  height: 45px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #016cc4;
}

.signup-text {
  margin-top: 15px;
  font-size: 13px !important; 
}

.signup-text a {
  color: #3F1A6A;
  text-decoration: underline;
}

.remember-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;      
  user-select: none;
  z-index: 2; 
  /* padding-top: 8px;           */
}

.remember-checkbox {
  width: 13px;
  height: 13px;
  margin: 0;
  pointer-events: auto;
  position: relative;
  z-index: 2;
}

.remember-text {
  font-size: 13px;
}

