html,
body,
#root {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

.signup-bg {
  height: 100vh;
  width: 100vw;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e6f3ff;
  font-family: Arial, sans-serif;
}

.signup-card {
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 36px 32px;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  margin: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.9);
}

.signup-btn {
  width: 100%;
  height: 50px;
  padding: 12px;
  margin: 6px;
  text-align: center;
  border-radius: 6px;
  border: none;
  background: #007bff;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.signup-google-btn {
  width: 100%;
  padding: 10px;
  margin: 6px;
  border-radius: 6px;
  background: #59ed92;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.signup-names-row {
  display: flex;
  gap: 6px;
  width: 100%;
}

.signup-remember {
  width: 100%;
  display: flex;
  justify-content: start;
  /* align-items: center; */
  gap: 1rem;
  font-size: 13px;
}

.signup-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 8px;
}

.signup-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
}

.signup-login-link {
  margin-top: 6px;
  font-size: 13px;
}

.signup-login-link a {
  color: #3F1A6A;
  text-decoration: underline;
}
