html,
body,
#root {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

.signup-bg {
  height: 100vh;
  width: 100vw;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e6f3ff;
  font-family: Arial, sans-serif;
}

.signup-card {
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 4px 32px rgba(205, 34, 34, 0.12);
  padding: 36px 32px;
  width: 450px;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-input {
  width: 100%;
  padding: 1rem;
  /* padding: 14px 1px; */
  margin: 8px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.9);
}

.signup-btn {
  width: 100%;
  padding: 12px;
  margin: 16px 0 8px 0;
  border-radius: 8px;
  border: none;
  background: #007bff;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.signup-google-btn {
  width: 100%;
  padding: 12px;
  margin: 16px 0 8px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #e6f3ff;
  color: #444;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.signup-names-row {
  display: flex;
  gap: 8px;
  width: 100%;
}

.signup-remember {
  width: 100%;
  display: flex;
  justify-content: start;
  /* align-items: center; */
  gap: 1rem;
  font-size: 13px;
}

.signup-title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 8px;
}

.signup-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
}

.signup-login-link {
  margin-top: 18px;
  font-size: 15px;
}

.signup-login-link a {
  color: #1e90ff;
  text-decoration: none;
}
